.fondoBody{
    background-image: linear-gradient(#e6935c, #ffffff);
}

.main-container {
    background-color: #ffffff;
  }

.colorNavbar{

    background-color: #ffffff;

}

.colorTabla{
    background-color: #f1c1a1;
}

.tamanoImagenTabla{
    height: 135px ;
    width:  200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rowEditado{
  
    
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;

}

.tamañoLogoRestaurant{
    height: 200px ;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.bordeNosotros{
    border: #e6935c 5px solid;
    border-radius: 40px;
    margin: 10px;
    padding: 1.2% 1% 0%;
    box-shadow: 2px 2px 5px #424040
  }

  .bordeNosotrosImg {
    border: transparent;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #424040;
  
  }

  .fondoBodyAdmin{
    background-image: linear-gradient(#575757, #ffffff);
  }
  
  .tamanoImagenTabla{
    height: 174px ;
    width:  250px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .tablaAdmin{
    table-layout: fixed;
  }
  
  .editada{
    width: 130px;
    overflow: auto;
    border: 1px solid;
  }